.footer {
  width: 100%;
  background: $black-dark;
  color: $white;
  @include breakpoint("sm") {
  }
  @include breakpoint("m") {
  }
  &__copyright {
    text-align: center;
    padding: 0.66em 0;
    margin: 0 auto;
  }
  &__navigation {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 30em;
    &__item {
      list-style: none;
      flex: 1;
      height: 3em;
      position: relative;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: $purple-dark;
      }
    }
    &__link {
      display: inline-block;
    }
  }
  &--bottom {
    position: absolute;
    bottom: 0;
  }
}
