.hero {
  height: 100vh;
  max-height: 1080px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  color: #fff;
  z-index: 1;
  background: {
    position: 71%;
    size: cover;
  }
  &__heading {
    margin-bottom: 0em;
    &:after {
      display: none;
    }
  }

  &__link {
    transition: all 0.2s;
    // margin-top: 2em;
    position: relative;
    top: 3em;
    &:hover {
      background: $purple-light;
      border-color: transparent;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(29, 3, 20, 0.35);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
